.exercise__block {
    width: 100%;
    box-shadow: 5px 5px 15px 5px rgba(175, 175, 175, 0.56);
    border-radius: 0 20px 0 0;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.variants__wrap {
    padding: 10px 30px;
    font-size: 18px;
}

.chosen__variant,
.simple__variant {
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.chosen__variant {
    text-decoration: underline;
}

.correct__chosen_answer {
    color: green;
    text-decoration: underline;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.correct__answer {
    color: green;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.incorrect__chosen_answer {
    color: crimson;
    text-decoration: underline;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.check__arrow_block {
    width: 20px;
}